<div class="visible-xs-block visible-sm-block b-hr"></div>
<div class="col-md-3 col-md-pull-9">
    <div class="row b-col-default-indent">
        <div class="col-md-12">
            <div class="b-categories-filter">
                <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">Top locaties</h4>
                <ul>
                    <li>
                        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Asia Tours</a>
                        <span class="b-categories-filter_count f-categories-filter_count">12</span>
                    </li>
                    <li>
                        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Europan tours</a>
                        <span class="b-categories-filter_count f-categories-filter_count">23</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="f-primary-b b-h4-special f-h4-special--gray">Uitgelicht</h4>
            <div class="j-accordion b-accordion b-accordion--with-standard-icon f-accordion b-accordion--smallindent">
                <h3 class="b-accordion__title f-accordion__title">Apartamentos Marina Palace</h3>

                <div class="b-accordion__content">
                    <div class="b-accordion__img">
                        <img data-retina src="http://www.hotix.nl/img/hotels/IUD7/ESRQAM/14.jpg" alt=""/>
                    </div>
                    <div>
                        <p>Sed auctor pretium justo id lobortis. Nam quis vulputate sem, ac vestibulum lacus. Integer at lectus ligula. Cras sit amet sollicitudin metus. Nulla nunc dui, tristique in semper vel, congue sed ligula.</p>

                        <p class="f-primary-b b-null-bottom-indent f-title-small c-default">&euro;750 p.p.</p>
                    </div>
                </div>
                <h3 class="b-accordion__title f-accordion__title">Hotel Garbi Ibiza & Spa</h3>

                <div class="b-accordion__content">
                    <div class="b-accordion__img">
                        <img data-retina src="http://s1.zon.sunweb.nl.resources-webcontent.com/utilpages/getimage.ashx?file=Images/Web1/19200000/59000/19259664-Web1.jpg&height=390&width=585" alt=""/>
                    </div>
                    <p class="f-primary-b b-null-bottom-indent f-title-small c-default">Suspendisse vitae metus enim</p>

                    <p>Sed auctor pretium justo id lobortis. Nam quis vulputate sem, ac vestibulum lacus. Integer at
                        lectus ligula. Cras sit amet sollicitudin metus</p>
                </div>
                <h3 class="b-accordion__title f-accordion__title">Hotel Azuline Mar Amantis</h3>

                <div class="b-accordion__content">
                    <div class="b-accordion__img">
                        <img data-retina src="http://s3.zon.sunweb.nl.resources-webcontent.com/utilpages/getimage.ashx?file=Images/Web1/19500000/4000/19504557-Web1.jpg&height=390&width=585" alt=""/>
                    </div>
                    <p class="f-primary-b b-null-bottom-indent f-title-small c-default">Suspendisse vitae metus enim</p>

                    <p>Sed auctor pretium justo id lobortis. Nam quis vulputate sem, ac vestibulum lacus. Integer at
                        lectus ligula. Cras sit amet sollicitudin metus</p>
                </div>
            </div>
        </div>
    </div>
</div>